#text
{
    margin: 0;
    padding: 0;
    font-family: 'Fondamento', cursive;
    text-shadow: 2px 2px 4px #000000;
}
body
{
    background: whitesmoke;
    min-height: 1500px;
    font-family: 'Peddana', serif;
}
section 
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
section::before
{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, whitesmoke, transparent);
    z-index: 10000;
}
section::after
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: beige;
    z-index: 10000;
    mix-blend-mode: color;
}
section img 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
#text
{
    position: relative;
    color: #fff;
    font-size: 5em;
    z-index: 3;
}
#castle1
{
    z-index: 2;
}
.first-letter {
   font-size: 200px;
   line-height: 70px;
}
p {
    font-size: 30px;
    margin-top: 158px;
    margin-left: 150px;
    margin-right: 150px;
}
#atlantis3 {
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    margin-left: 150px;
    margin-right: 150px;
}
.TextWrap {
    float: left;
    margin-top: 150px;
 }
 #atlantis4 {
     max-width: 300px;
     height: auto;
     border-radius: 50%;
     margin-left: 150px;
     margin-right: 150px;
 }
 .TextWrapRight {
     float: right;
     margin: 50px;
 }
 #atlantis5 {
     max-width: 300px;
     height: auto;
     border-radius: 50%;
     margin-left: 150px;
     margin-right: 150px;
 }
 .TextWrapLeft {
     float: left;
     margin: 50px;
 }
 #head {
     max-width: 300px;
     height: auto;
     border-radius: 50%;
     margin-left: 150px;
     margin-right: 150px;
 }
 .TextWrapRight2 {
     float: right;
     margin: 50px;
 }
 #mountain {
    width: 100%;
    background: linear-gradient(to bottom, transparent)
    
}
#woman {
    max-width: 300px;
    height: auto;
    margin-left: 150px;
    margin-right: 85px;
}
.TextWrapLeft2{
    float: left;
    margin: 50px;
}
.TextWrapRight3 {
    float: right;
    margin: 50px;
}