#text
{
    margin: 0;
    padding: 0;
    font-family: 'Fondamento', cursive;
    text-shadow: 4px 4px 4px black;
}
body
{
    background: whitesmoke;
    min-height: 1500px;
    font-family: 'Peddana', serif;
}
header 
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
header::before
{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, whitesmoke, transparent);
    z-index: 10000;
}
header::after
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    mix-blend-mode: color;
}
header img 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    filter: grayscale(25%);
}
#text
{
    position: relative;
    color: whitesmoke;
    font-size: 5em;
    z-index: 2;
}
#castle1
{
    z-index: 3;
}
.first-letter {
    font-size: 200px;
    line-height: 30px;
}
p {
    padding: 50px;
    font-size: 30px;
    margin-top: 150px;
    margin-left: 150px;
    margin-right: 150px;
}
#atlantis3 {
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    margin-left: 150px;
    margin-right: 150px;
}
#atlantis3:hover {
    opacity: 0.0;
    transition: all 2s ease;
}
.TextWrap {
    float: left;
    margin-top: 50px;
 }
 #atlantis4 {
     max-width: 300px;
     height: auto;
     border-radius: 50%;
     margin-top: 150px;
     margin-left: 150px;
     margin-right: 150px;
 }
 #atlantis4:hover {
    opacity: 0.0;
    transition: all 2s ease;
}
 .TextWrapRight {
     float: right;
     margin-top: 50px;
     margin: 50px;
 }
 #atlantis5 {
     max-width: 300px;
     height: auto;
     border-radius: 50%;
     margin-top: 150px;
     margin-left: 150px;
     margin-right: 150px;
 }
 #atlantis5:hover {
    opacity: 0.0;
    transition: all 2s ease;
}
 .TextWrapLeft {
     float: left;
     margin: 50px;
 }
 #head {
     max-width: 300px;
     height: auto;
     border-radius: 50%;
     margin-top: 150px;
     margin-left: 150px;
     margin-right: 150px;
 }
 #head:hover {
    opacity: 0.0;
    transition: all 2s ease;
}
 .TextWrapRight2 {
     float: right;
     margin: 50px;
 }
 #mountain {
    width: 100%;
    background: linear-gradient(to bottom, transparent)  
}
#woman {
    max-width: 300px;
    height: auto;
    margin-left: 150px;
    margin-right: 85px;
}
#woman:hover {
    opacity: 0.0;
    transition: all 2s ease;
}
.TextWrapLeft2{
    float: left;
    margin: 50px;
}
.TextWrapRight3 {
    float: right;
    margin: 50px;
}
#girl:hover {
    opacity: 0.0;
    transition: all 2s ease;
}
footer {
    float: left;
}
